.filterHeader img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.filterContent {
  display: flex;
  flex-direction: row;
  padding: 10%;
}

.recipePreviewBlock {
  /* padding: 10%; */
  padding: 0 0 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}