footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--white) !important;
  width: 70vw;
}

.footerComponent {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.footerComponent a {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-size: 18px !important;
  padding: 8px !important;
}

.footerComponent a i {
  font-size: 22px !important;
  width: 30px !important;
}

.footerComponent a img {
  height: 125px !important;
}

footer .t {
  padding: 0 0 8px 8px;
  font-size: 25px;
}